body{
    background-color: #212529;
}
.bg-light-dark {
    background-color: #2B3035;
}

/* Root is an ID that is the reason why use # */
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}